.navbar {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 30px 0 28px 0;
}
.navContainer {
	padding: 0 60px;
}

.logo {
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
}

.navList {
	display: flex;
	gap: 30px;
}
.navItem {
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	padding: 4px;
	border-bottom: 2px solid rgba(0, 6, 37, 0.98);
	transition: all .4s ease-in-out;
}

.navItem:hover {
	/* background: #ded94a; */
	border-bottom: 2px solid #ded94a;
}

@media screen and (max-width: 770px) {
	.navContainer {
		padding: 0 40px;
	}
}
@media screen and (max-width: 470px) {
	.navList {
		gap: 15px;
	}
	.navbar {
		align-items: center;
	}
	.navContainer {
		padding: 0 20px;
	}

	.navItem {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: -1px;
	}
}
